<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>it is beneficial to keep a collection of information about the cryptocurrencies 
        in your portfolio or the assets you might want to keep an eye out for. This way, 
        when new information erupts, you can just add it to your document without having to 
        compile full research every time you want to refresh yourself about the project. 
        You can consider it as keeping a diary of cryptocurrencies you are invested in.</p>
        <p>
            1. Project description: include links 
            2. Risk Analysis or SWOT
            3. Team Members:
            4. Project Road Map
            5. Whitepaper links and notes
            6. Upcoming events or dates
            7. Links to important articles or news
            8. 
        </p>
</body>
</html>