{% extends "base.html"%}


{% load mathfilters %}
{% load widget_tweaks %}
{% load humanize %}
{% load static %}


{% block content %}
<br>
<p align="center" style="color:red;" class="size"><i>*Note: the sequence is base on community score.</i></p>

<div class="container">
        <table class="table">
                <thead class="thead-dark">
                    <tr class="tablehead">
                    <th scope="col">Rank</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name (type)</th>
                    <th scope="col">Price</th>
                    <th scope="col">MarketCap</th>
                    <th scope="col">Avail. Supply (Max Supply)</th>
                    <th scope="col">Community Score</th>
                    <th scope="col">Block Time</th>
                    <th scope="col">Algorithm</th>
                    <th scope="col">Proof Type</th>
                    <th scope="col">Genesis (Age)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td data-label="Rank"><b>{{d.rank}}</b></td>
                        <td data-label="Symbol" class="size"><img class ="icon" src="{{d.icon}}" alt=""> {{d.symbol}}</td>
                        <td data-label="Name (Type)"><a href="{{c.link}}">{{d.name}}</a><br><span class="size">({{d.cryptype}})</span></td>
                        <td data-label="Price">{{d.price}}
                            {% if d.percent_change >= 0 %}
                                <span style="color:rgb(27, 219, 27); font-size:x-small;" > (+{{d.percent_change}}%)</span>
                            {% else %}
                                <span style="color:red;font-size:x-small;"> ({{d.percent_change}}%)</span>
                            {% endif %}
                        </td>
                        <td data-label="MarketCap" class="size">{{d.market_cap}}</td> 
                        <td data-label="Avail./(Max.) Supply" class="size">{{d.available_supply|intcomma}}<br><b>({{d.max_supply|intcomma}})</b></td>
                        <td data-label="Community Score">{{d.score}}%</td>
                        <td data-label="Block Time" class="size">{{d.block_time}}</td>
                        <td data-label="Algorithm" class="size">{{d.algorithm}}</td>
                        <td data-label="Proof" class="size">{{d.proof}}</td>
                        <td data-label="Genesis (Age)">{{d.genesis}}</td>
                        
                    </tr>
                    {%endfor%}
                </tbody>
        </table>

<div class="text-center">
{% if data.has_other_pages %}
<nav aria-label="Page navigation example">
<ul class="pagination">
    {% if data.has_previous %}
        <li class="page-item">
        <a class="page-link" href="{{ users.previous_page_number }}" aria-label="Previous">
                    Previous</a>
        </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous" tabindex="-1">
                    Previous</a>
        </li>
    {% endif %}

    {% for i in data.paginator.page_range %}
        {% if data.number == i %}
        <li class="page-item">
            <a href="#" class="page-link">{{ i }}<span class="sr-only">(current)</span></a>
        </li>
        {%else%}
        <li class="page-item">  
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
    {% endfor %}
    
    {% if data.has_next %}
        <li class="page-item">
        <a class="page-link" href="?page={{ data.next_page_number }}" aria-label="Next">
                    Next</a>
        </li>
    {% else %}
        <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next" tabindex="-1">
                    Next</a>
        </li>
    {% endif %}

    </li>
</ul>
</nav>
{% endif %}
</div>
</div>

<script type="text/javascript">
    var sc_project=11586119; 
    var sc_invisible=1; 
    var sc_security="be62ee27"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
</script>

<noscript><div class="statcounter"><a title="Web Analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11586119/0/be62ee27/0/" alt="Web
Analytics"></a></div></noscript>

{% endblock %}